* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.messages,
.patients,
.help {
  height: 90vh;
  font-size: 3rem;
  text-align: center;
}

.home {
  text-align: center;
  margin-top: 40px;
}